{% extends "base.html" %}
{% block title %}
    Главная страница
{% endblock %}
{% block header %}Последние обновления на сайте{% endblock %}
{% block content %}
<h1>Enter Room</h1>
        <form action="" method="POST">
            {% csrf_token %}
{#            <label for="">Username</label><br>#}
{#            <input type="text" placeholder="Username" name="username" required><br>#}
            <label for="">Room name</label><br>
            <input type="text" placeholder="room name" name="room" required><br>
            <center>
                <button type="submit" class="btn-primary">Submit</button>
            </center>
            <br>
        </form>
{% endblock %}